# Copier en keystore.properties et remplir (NE PAS COMMITER keystore.properties)
# storeFile=../release/buildeasy-release.keystore
# storePassword=VOTRE_MOT_DE_PASSE
# keyAlias=buildeasy
# keyPassword=VOTRE_MOT_DE_PASSE
